{
  "singleQuote": true,
  "importOrder": [
    "^zone.js(.*)$",
    "^@angular/(.*)$",
    "^rxjs(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@chrome-extension-starter/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "classProperties",
    "decorators-legacy"
  ],
  "attributeGroups": [
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_ANIMATION",
    "$ANGULAR_ELEMENT_REF",
    "$CLASS",
    "$ID",
    "$NAME",
    "$DATA",
    "$SRC",
    "$FOR",
    "$TYPE",
    "$HREF",
    "$VALUE",
    "$TITLE",
    "$ALT",
    "$ROLE",
    "$ARIA",
    "$DEFAULT",
    "$ANGULAR_ANIMATION_INPUT",
    "$ANGULAR_INPUT",
    "$ANGULAR_OUTPUT",
    "$ANGULAR_TWO_WAY_BINDING"
  ],
  "attributeSort": "ASC"
}
